.text-style p {
    color: var(--accent);
}

.servises-block h1 {
    margin-left: 30px;
    margin-bottom: 0;
}

.button-selection {
    width: 270px;
    height: 50px;

    margin-left: 15px;
    margin-top: 15px;
    padding-left: 15px;

    border-radius: var(--br-md);
    border: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    transition: 0.3s all;

    background: none;
}

.button-selection svg {
    margin-right: 10px;
}

.button-selection:active svg>path {
    fill: white;
}

.button-selection:hover {
    background-color: #EBF5FE;
}

.button-selection:active {
    background: #479FF8;
}

.button-selection p {
    transition: 0.3s all;
    font-size: var(--font-md);
}

.button-selection:active p {
    color: white;
    fill: white;
}

.service-wrapper {
    width: 100%;
    justify-content: space-between;
}

.servises-block {
    width: 308px;
    height: 301px;
    border-radius: var(--br-xl);
    top: 120px;
    position: sticky;
    background: var(--main);
}

.aboutCompany {
    width: 982px;
    margin-left: var(--m-5xl);
}

.aboutCompany p {
    color: var(--main-text);
}

.icon-border {
    border-radius: var(--br-md);
}

.under-header {
    width: 100%;
    height: 300px;
    align-items: center;
}

figure.sixteen-nine-img {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;

    background: linear-gradient(288.75deg, #595959 2.2%, #3C3C3C 78.38%);
    border-radius: var(--br-xl);
}

figure.sixteen-nine-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.employee_avatar {
    width: 256px;
    height: 256px;

    background: linear-gradient(288.75deg, #595959 2.2%, #3C3C3C 78.38%);
    border-radius: var(--br-xl);

    overflow: hidden;
}

.employees{
    gap: 42px;
}
.wrap-footer{
    flex-wrap: wrap;
    justify-content: space-between;
}
.w-100{
    width: 100%;
}
@media screen and (max-width: 1340px) {
    .aboutCompany {
        width: 738px;
    }
}
@media screen and (max-width: 1200px) {
    .employee_avatar {
        width: 218px;
        height: 218px;
        display: flex;
        justify-content: center;
    }

}
@media screen and (max-width: 1100px) {
    .aboutCompany {
        width: 550px;
    }
    .employees{
        overflow-x: auto;
    }
}
@media screen and (max-width: 992px) {
    .aboutCompany {
        width: 400px;
        margin-left: 0;

    }
}
@media screen and (max-width: 768px) {
    .aboutCompany {
        width: 100%;
        margin-left: 0;
    }
    .new-font-size{
        font-size: var(--font-rt);
    }
    .adaptive-ing-none{
        display: none;
    }
    .servises-block{
        width: 100%;
        height: 94px;
        margin-bottom: 25px;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        
        position: static;
        
        overflow: auto;
    }
    .servises-block button {
        flex-shrink: 0;
    }
    .service-wrapper{
        flex-direction: column;
    }
    .aboutCompany{
        width: 100%;
        margin-left: 0;
    }
    .employees{
        overflow-x: scroll;
    }
    .adaptive-786-margin{
        margin-left: 25px;
    }
    .under-header {
        height: 150px;
        margin-top: 25px;
        margin-bottom: 50px;
        color: #EBF5FE;
        background: linear-gradient(to left, #479FF8, #0081FF);
        border-radius: 15px;
    }
}

