@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
    --main:  #FFFFFF;
    --accent: #479FF8;
    --bg: #F8F9FD;

    --main-text: #3C3C3C;
    --second-text: #7E7E7E;
    --third-text: #000000;

    --font-xl: 36px;
    --font-rt: 24px;
    --font-md: 16px;
    --font-sm: 14px;

    --font-bold: 700;
    --font-thin: 400;
}
body{
    color: var(--main-text);
    background: var(--bg);
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1340px;
    margin: auto;
    position: relative;
}
.menu-indent{
    padding-top: 110px;
}
.menu-text li {
    margin-left: 50px;
}
.menu{
    width: 1340px;
    height: 72px;
    border-radius: 10px;
    margin-bottom: 50px;
    background: var(--main);
    position: fixed;
    justify-content: space-between;
}
.menu-text{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.menu-items{
    margin-left: 50px;
}
.ShariX-icon{
    margin-left: 24px;
    margin-right: 10px;
}
.enter-icon{
    margin-left: 57px;
    margin-right: 29px;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
}
.black-text{
    color: var(--third-text);
    font-size: var(--font-rt);
}
.black-span{
    color: var(--third-text);
    font-weight: var(--font-bold);
}
.list-none{
    list-style: none;
}
.text-center{
    text-align: center;
}
.flex-column{
    flex-direction: column;
}
.content-between{
    display: flex;
    justify-content: space-between;
}
.footer{
    margin-top: 50px;
}
.footer-text{
    color: var(--second-text);
    margin-top: 20px;
}
.footer-text li{
    margin-top: 25px;
}
.footer-row{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.test{
    margin-left: 35px;
}
.blue-button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: var(--bg);
    font-weight: var(--font-bold);
    background-color: var(--accent);
    border: none;
}
.color-black{
    color: var(--third-text);
}
.information-tasks{
    padding-left: 20px;
    padding-bottom: 100px;
    color: var(--accent);
}
.information-tasks li{
    margin-top: 20px;
}
.disk{
    list-style-type: circle;
    margin-left: 20px;
}
.m-auto{
    text-align: center;
}
.content-center{
    display: flex;
    justify-content: center;
}
.footer-top{
    margin-top: 300px;
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    margin: 0.7rem 0;

}

.input-group.active h4{
    top: -80%;
    left: 15px;
    background: white;
    padding: 4px 2px;
}

.input-group h4{
    position: absolute;
}

.input-group input{
    outline: none;
    transition: all 0.15s;
}

.input-group.active input{
    border: 1px solid black;
}