table {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 150px;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
    text-align: start;
    border-bottom: 1px solid var(--input-border);
}

.active-table{
    background: #f3f3f3;
}

.first-proposal{
    position: relative;
}

.Service{
    margin-right: 400px;
    padding-left: 60px;
    white-space: nowrap;
    vertical-align: top;
}
.active-table {
    /* border: 1px solid var(--accent); */
    border-radius: 10px;
    /* position: absolute;
    bottom: 0; */
}
.active-table1  {
    border: 1px solid var(--accent);
    border-radius: 10px;
    /* position: absolute;
    bottom: 0; */
}
.clarification {
    color: var(--second-text);
}
.numbers{
    vertical-align: top;
}





