table {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 150px;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
    text-align: start;
    border-bottom: 1px solid var(--input-border);
}

.active-table{
    background: #f3f3f3;
}

.first-proposal{
    position: relative;
}

.Service{
    margin-right: 400px;
    padding-left: 60px;
    white-space: nowrap;
    vertical-align: top;
}
.active-table {
    /* border: 1px solid var(--accent); */
    border-radius: 10px;
    /* position: absolute;
    bottom: 0; */
}
.active-table1  {
    border: 1px solid var(--accent);
    border-radius: 10px;
    /* position: absolute;
    bottom: 0; */
}
.clarification {
    color: var(--second-text);
}
.numbers{
    vertical-align: top;
}

.information-table{
    margin-top: 50px;
    margin-bottom: 50px;
}
.information-table p {
    font-weight: 400;
    font-size: 16px;
}
.tabular-line{
    width: 100%;
    border-radius: var(--br-md);
    border: 1px solid var(--bg);
    transition: 0.3s all;
}

.tabular-line:hover{
    border: 1px solid var(--accent);
}
.information-table :nth-child(1):hover{
    border: 1px solid var(--bg);
}
.tabular-line >*:nth-child(1){
    width: 88px;
    display: flex;
    justify-content: center;
}
.tabular-line >*:nth-child(2){
    width: 168px;
}
.tabular-line >*:nth-child(3){
    width: 932px;
}
.tabular-line >*:nth-child(4){
    width: 146px;
    display: flex;
    align-items: center;
}